global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# --- INTERFAZ ESTADÍSTICA ---
listen stats
    mode http
    bind *:8404
    stats enable
    stats uri /
    stats refresh 5s

# --- BALANCEO LDAP (Puerto 389) ---
frontend ldap_front
    bind *:389
    default_backend ldap_back

backend ldap_back
    balance roundrobin
    server ldap1 ldap1.fis.epn.ec:389 check
    server ldap2 ldap2.fis.epn.ec:389 check

# --- BALANCEO LDAPS (Puerto 636) ---
frontend ldaps_front
    bind *:636
    default_backend ldaps_back

backend ldaps_back
    balance roundrobin
    server ldap1 ldap1.fis.epn.ec:636 check
    server ldap2 ldap2.fis.epn.ec:636 check
